@{
}

<section id="partner" class="services-area pt-20 pb-20 black-bg">
    <div class="container-fluid py-2">
        <div class="col-xl-6 offset-xl-3">
            <div class="section-title white-text text-center mb-15">
                <h1 style="color:#ff4b57;">Our Partners</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-auto">
                <a class="h1" href="#partnerCarousel" role="button" data-slide="prev">
                    <span>&lt;</span>
                </a>
            </div>
            <div class="col">
                <div id="partnerCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <a href="https://www.axxonsoft.com/" target="_blank">
                                        <img class="d-block img-fluid" src="~/img/brand/AxxonSoft.png" alt="1rd slide">
                                    </a>
                                </div>
                                <div class="col-md-8" style="height:400px">
                                    <div class="services-text">
                                        <h2 style="font-size:22px">About AxxonSoft</h2>
                                        <p>
                                            Founded in 2003, AxxonSoft is a leading developer of smart integrated security and video surveillance systems (VMS and PSIM). The company's portfolio for the Safety & Security market boasts over 150,000 projects with 2.5 million cameras installed.<br/>
                                            AxxonSoft has more than 5,800 certified partners in 100+ countries, which perform over 1,500 installations every month. With 40 offices around the world, the company provides its partners with fast response times and exceptional support in every corner of the globe.<br/>
                                            The AxxonSoft VMS and PSIM platforms power more than 240 Safe City municipal surveillance projects and security systems at retailers, banks, international airports, seaports, industrial sites, and numerous government and business facilities around the world."
                                        </p>
                                        <div class="about-btn mt-30">
                                            <a class="btn btn-green" href="https://www.axxonsoft.com/" target="_blank">learn more</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <a href="https://www.scandit.com/" target="_blank">
                                        <img class="d-block img-fluid" src="~/img/brand/scandit-vector-logo.png" alt="2rd slide">
                                    </a>
                                </div>
                                <div class="col-md-8" style="height:400px">
                                    <div class="services-text">
                                        <h2 style="font-size:22px">About Scandit</h2>
                                        <p>
                                            Three researchers from MIT, ETH Zurich and IBM Research founded Scandit in 2009 and remain in the business today. We quickly evolved into a software business that puts a powerful smart device scanning solution in the hands of workers and customers, enabling them to interact digitally with physical objects. <br/>
                                            <br/>
                                            Scandit is the leader in smart data capture with a team of global experts who partner with customers to integrate data capture into their workflows and provide actionable insights. Scandit is trusted for delivering top performance, business results and enterprise-level success. Perpetually aiming to break new ground will continue to shape our Smart Data Capture platform.
                                        </p>
                                        <div class="about-btn mt-30">
                                            <a class="btn btn-green" href="https://www.scandit.com/" target="_blank">learn more</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <a class="h1" href="#partnerCarousel" role="button" data-slide="next">
                    <span>&gt;</span>
                </a>
            </div>
        </div>
    </div>
</section>