@{
}
<style>
    .item:hover .innerText 
    {
      display: block;
    }
</style>
<section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h4 class="text-uppercase mb-0">Our Features</h4>
                    <div class="my-3">
                        <img src="~/images/title-border.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <p class="text-muted f-14">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </div>
            </div>
        </div>

        <div class="row">
@*            <div class="col-lg-4 col-md-6">
                <div class="feature-box text-center px-4 py-5">
                    <div class="text-primary feature-icon mb-3">
                        <i class="pe-7s-world"></i>
                    </div>
                    <h6 class="text-uppercase mb-1 title f-18">Our Address</h6>
                    <p class="mb-0 text-muted text-truncate innerText">Block 18, 2nd Floor, Newton Residence Building</p>
                    <p class="mb-0 text-muted text-truncate innerText"> 38 Truong Quoc Dung Str., Ward 8, Phu Nhuan Dist.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-box text-center px-4 py-5">
                    <div class="text-primary feature-icon mb-3">
                        <i class="pe-7s-headphones"></i>
                    </div>
                    <h6 class="text-uppercase mb-1 title f-18">Phone & Email</h6>
                    <p class="text-muted mb-0">(+84) 028.73006696</p>
                    <p class="text-muted mb-0">info@librasoft.vn</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-box text-center px-4 py-5">
                    <div class="text-primary feature-icon mb-3">
                        <i class="pe-7s-cup"></i>
                    </div>
                    <h6 class="text-uppercase mb-1 title f-18">Time</h6>
                    <p class="text-muted mb-0">Monday - Friday</p>
                    <p class="text-muted mb-0">9:00AM - 6:00PM</p>
                </div>
            </div>*@
            @foreach(var item in Model)
            {
            <div class="col-lg-4 col-md-6">
                <div class="feature-box text-center px-4 py-5">
@*                    <div class="text-primary feature-icon mb-3">
                        <i class="pe-7s-cup"></i>
                    </div>*@
                    @Html.Raw(@item)
                </div>
            </div>
            }
        </div>
    </div>
</section>
