@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section bg-light" id="about">
    <div class="container">
@*        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h4 class="text-uppercase mb-0">Why Choose Us ?</h4>
                    <div class="my-3">
                        <img src="~/images/title-border.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>*@

        <div class="row align-items-center">
            <div class="col-lg-5">
                <img src="~/images/about-img.png" alt="" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="text-muted mt-5 mt-lg-0">
                    <h2 class="title font-weight-medium mb-4">Who we are?</h2>
                    <p class="mb-4 f-15">LibraSoft is a custom software development company headquartered in Ho Chi Minh, Vietnam. We help businesses elevate their value through custom software development, high end quality solutions with the right blend of technology, domain knowledge and effective methodology.</p>
                </div>
            </div>
        </div>
    </div>
</section>