@{
}

<section id="service" class="services-area pt-20 pb-35 black-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8  offset-md-2 offset-lg-3">
                <div class="section-title white-text text-center mb-15">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="services-wrapper mb-30">
                    <div class="servces-icon">
                        <img src="~/img/LibraSoftImg/settings.png" />
                    </div>
                    <div class="services-text">
                        <h2>Digital Transformation</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-wrapper mb-30">
                    <div class="servces-icon">
                        <img src="~/img/LibraSoftImg/hand.png" />
                    </div>
                    <div class="services-text">
                        <h2>Financial Services</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-wrapper mb-30">
                    <div class="servces-icon">
                        <img src="~/img/LibraSoftImg/mortarboard.png" />
                    </div>
                    <div class="services-text">
                        <h2>Education</h2>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-wrapper mb-30">
                    <div class="servces-icon">
                        <img src="~/img/LibraSoftImg/life-insurance.png" />
                    </div>
                    <div class="services-text">
                        <h2>Insurance</h2>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-wrapper mb-30">
                    <div class="servces-icon">
                        <img src="~/img/LibraSoftImg/government.png" />
                    </div>
                    <div class="services-text">
                        <h2>Goverment<br/></h2>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-wrapper mb-30">
                    <div class="servces-icon">
                        <img src="~/img/LibraSoftImg/manufacture.png" />
                    </div>
                    <div class="services-text">
                        <h2>Manufactoring</h2>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="services-wrapper mb-30">
                    <div class="servces-icon">
                        <img src="~/img/LibraSoftImg/consumer.png" />
                    </div>
                    <div class="services-text">
                        <h2>Retail</h2>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>