@{
}

@model List<LibraSoftSolution.ViewModels.ContentBlock.MapCTVM>


<section  class="map-area pb-20 pt-65">
    <div class="container">
        <div class="row contact-info">

            @foreach(var Item in Model)
            {
                <div class="col-lg-4">
                    <div class="contact-list text-center mb-20">
                        <i class="@Item.IconCode"></i>
                        <h3>@Item.Title</h3>
                        @Html.Raw(@Item.Content)
                    </div>
                </div>                
            }
        </div>
    </div>
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.1705551326704!2d106.6704988!3d10.7982459!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175298eeab8fdbf%3A0xed45e0c5aa186d0c!2sNewton%20Residence%20Apartment!5e0!3m2!1svi!2s!4v1655787440396!5m2!1svi!2s" width="1349" height="200" style="border:0;display: block;margin: 0 auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>