
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
    <!-- Hero Start -->
    @await Component.InvokeAsync("Hero")
    <!-- Hero End -->

    <!-- Partner Start -->
    @await Component.InvokeAsync("Partner")
    <!-- Partner End -->

    <!-- Service Start -->
    @await Component.InvokeAsync("Service")
    <!-- Service End -->

    <!-- About us Start -->
    @await Component.InvokeAsync("AboutUs")
    <!-- About us End -->

    <!-- Pricing Start -->
    @await Component.InvokeAsync("Pricing")
    <!-- Pricing End -->

    <!-- Clients Start -->
    @await Component.InvokeAsync("Client")
    <!-- Clients End -->

    <!-- Counter Start -->
    @await Component.InvokeAsync("Counter")
    <!-- Counter End -->

    <!-- MiniContact Start -->
    @await Component.InvokeAsync("MContact")
    <!-- MiniContact End -->