@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h4 class="text-uppercase mb-0">Digital Transformation</h4>
                    <div class="my-3">
                        <img src="~/images/title-border.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <p class="text-muted f-14">Transform any image, scaned document, or printed PDF to editable documents in seconds using Optical Character Recognition (OCR) featuer. The function of OCR is to help digitize documents in a timely manner and fashion.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="service-box p-4">
                    <div class="service-icon icon-primary mb-6 mt-5">
                        <img src="~/images/LibraSoftImg/life-insurance.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <h4 class="mb-4 service-title">Finance</h4>
                    <p class="text-muted f-15">Our AI for financial services fosters extraordinary customer relationships through transformative technologies that save time, heighten security, and personalize service, delivering optimal share of wallet.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="service-box p-4">
                    <div class="service-icon icon-success mb-4 mt-3">
                        <img src="~/images/LibraSoftImg/hand.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <h4 class="mb-4 service-title">Insurance</h4>
                    <p class="text-muted f-15">Predict consumer needs by utilizing data and actionable analytics, optimize the customer experience, retain valuable policyholders, and identify new sales opportunities using applications built on our mobile platform.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="service-box p-4">
                    <div class="service-icon icon-danger mb-4 mt-3">
                        <img src="~/images/LibraSoftImg/life-insurance.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <h4 class="mb-4 service-title">Education</h4>
                    <p class="text-muted f-15">Traditional learning environments are becoming a thing of the past. fully integrated software applications are used to raise the quality of education and administration in schools, colleges and universities.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="service-box p-4">
                    <div class="service-icon icon-info mb-4 mt-3">
                        <img src="~/images/LibraSoftImg/mortarboard.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <h4 class="mb-4 service-title">User Friendly</h4>
                    <p class="text-muted f-15">Traditional learning environments are becoming a thing of the past. fully integrated software applications are used to raise the quality of education and administration in schools, colleges and universities.</p>
                </div>
            </div>
        </div>
    </div>
</section>