@{
}

<section id="about" class="about-area pt-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-thumb mb-40">
                    <img src="~/img/bg/About1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text mb-40">
                    <div class="servces-icon2">
                        <h3>Who we are <span><i class="pe-7s-smile"></i></span></h3>
                    </div>
                    <p>Founded in 2019, LibraSoft is a leading, highly innovative software house, systems integrator and technology provider, established to provide leading edge intelligent technical solutions and consulting services to businesses, organizations and government
                    in order to allow the efficient and effective secure access and communication with various heterogeneous information resources and services, anytime and anywhere.</p>
                    <p>We are flat, quick, and efficient. We combine the industry knowledge with technology competence to deliver the highend quality solutions in a cost effective manner to maximize your competitive advantage and increase your business productivity.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text mb-40">
                    <div class="servces-icon2">
                        <h3>Our Culture <span><i class="pe-7s-leaf"></i></span></h3>
                    </div>
                    <p>Librasoft provides a challenging environment that encourages initiative and promotes commitment to its clients’ business objectives.</p>
                    <div class="servces-icon2">
                        <h3>Vision <span><i class="pe-7s-look"></i></span></h3>
                    </div>
                    <p>Enabling enterprises to leverage technology for business growth and success</p>
                    <div class="servces-icon2">
                        <h3>Missison <span><i class="pe-7s-paper-plane"></i></span></h3>
                    </div>
                    <p>We help businesses elevate their value through custom software development, high end quality solutions with the right blend of technology, domain knowledge and effective methodology.</p>                       
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-thumb mb-40">
                    <img src="~/img/bg/About2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-thumb mb-40">
                    <img src="~/img/bg/About3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text mb-40">
                    <div class="servces-icon2">
                        <h3>Value <span><i class="pe-7s-diamond"></i></span></h3>
                    </div>
                    <p>+ Humble: We constantly look to improve and never forget the importance of our customers and colleagues.</p>
                    <p>+ Customer Focused: We exceed expectations through great discipline and ensure a world class customer experience.</p>
                    <p>+ Discipline: In everything we do. We accept responsibility and deliver on all of our commitments.</p>
                    <p>+ Innovation: We continue to accelerate growth through active innovation, utilize the powers of different technologies and integrate them seamlessly.</p>
                    <div class="about-btn mt-30">
                        <a class="btn btn-green smoth-scroll" href="#service">business we serve</a>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</section>