@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LibraSoftSolution.ViewModels.Event.RegistersVM

<style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>

<!-- page-title-area start -->
<section class="page-title-area pt-320 pb-140" data-background="img/slider/slide1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-title page-title-white text-center">
                    <h2>Event Details</h2>
                    <div class="breadcrumb-list">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">News - Event</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page-title-area end -->

<!-- blog-area start -->
<div class="blog-area grey-bg pt-20 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="postbox post format-image mb-40">
                    <div class="postbox__thumb">
                        <img src="~/img/bg/event.jpg" alt="event image" class="center" width="45%" >
                    </div>
                </article>
            </div>
            <div class="col-lg-6">
                <article class="postbox post format-image mb-40">
                    <div class="postbox__text p-50">
                        <div class="post-meta mb-15"></div>
                        <h3 class="blog-title text-uppercase">
                            Give Superpowers to Your Workers and Business with Smart Data Capture
                        </h3>
                        <div class="post-meta mb-15">
                            <span><i class="far fa-calendar-check"></i> Date: </span>
                            <span><a href="#"><i class="far fa-user"></i> Time: </a></span>
                            <span><a href="#"><i class="far fa-comments"></i> Platform: Zoom </a></span>
                        </div>
                        <div class="post-text mb-20">
                            <p>Most logistic companies are concerned about operational excellence of the company and the operations executives have 
                                tough times ensuring efficiency and reliability of operations while keeping costs low. Improving operational processes and 
                                profitability are crucial, exceeding KPIs through modernized operations.</p>
                            <p>In this webinar, we want to show how Scandit provides the fastest-to-integrate, best-performing enterprise solution to 
                                address last mile delivery peak fluctuations with agility, no matter if with a BYOD or COPE deployment model. With high
                                 performance and robustness of the technology which is tailored to last mile delivery processes lead to the achievement
                                 of operational KPIs while costs can be reduced due to lower TCO and higher productivity</p>
                            <div class="inner-content">
                                <h4>Agenda</h4>
                                <p>1. Challenges and Impact in current business landscape</p>
                                <p>2. About Scandit and Smart Data Capture Platform</p>
                                <p>3. How Smart Data Capture improve Operational Efficiency and Productivity</p>
                            </div>
                            <div class="inner-content">
                                <h4>Presenter</h4>
                                <p>William Gan</p>
                                <p>Regional Partnership Manager, Scandit</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-6">
                <article class="postbox post format-image mb-40">
                    <div class="postbox__text p-50">
                        <div class="post-comments-form">
                            <form id="contacts-form" asp-controller="Event" asp-action="Index" class="conatct-post-form" method="post">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="contact-icon">
                                            <input  asp-for="Name"  type="text" placeholder="Your Name.... ">
                                        <span asp-validation-for="Name" class="text-danger"></span>  
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-icon">
                                            <input  asp-for="Phone"  type="tel" placeholder="Your Phone....">
                                        <span asp-validation-for="Phone" class="text-danger"></span>  
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="contact-icon">
                                            <input id="emailev" asp-for="Email" type="email" placeholder="Your Email....">
                                            <label for="emailev">* To obtain the invitation letter and the link to attend the webinar, please provide the correct email address</label>
                                            <span asp-validation-for="Email" class="text-danger"></span>                                      
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-icon">
                                            <input asp-for="CompanyName" type="text" placeholder="Company Name.... ">
                                            <span asp-validation-for="CompanyName" class="text-danger"></span>  
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="contact-icon">
                                            <input asp-for="Position" type="text" placeholder="Your Position....">
                                            <span asp-validation-for="Position" class="text-danger"></span>  
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div id="checkbox-ev">
                                              <input type="checkbox" id="cbagree" name="agree" value="agree">
                                              <label for="cbagree">I Agree To Attend The Webinar</label>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <button class="btn btn-red" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->
