@model LibraSoftSolution.ViewModels.ContactForm.ContactVM

<div class="container" >
    <div class="row">
        <div class="col-xl-6 offset-xl-3">
            <div class="section-title white-text text-center mb-15">
                <h1 style="color:#ff4b57">Get In Touch</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="contact-wrapper">
                <form id="formContactVal">
                    <div class="row">
                        <div class="col-lg-6 mb-20">
                            <div class=" c-icon">
							    <label asp-for ="FullName">Full Name</label>
							    <input id="cfFullName" type="text"  asp-for="FullName" name="txtcfFullName" placeholder="Full Name">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-20">
                            <div class=" c-icon">
                                <label  asp-for="Phone">Phone</label>																																					
							    <input type="tel"  asp-for="Phone" name="txtcfPhone" id="cfPhone" placeholder="Phone">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-20">
                            <div class=" c-icon">
                                <label  asp-for="Email">Email</label>																								
							    <input  type="email"  asp-for="Email" id="cfEmail" name="txtcfEmail" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>  
                            </div>
                        </div>
                        <div class="col-lg-6 mb-20">
                            <div class="c-icon">
							    <label asp-for="ReasonReachingId">Reason for reaching out:</label>
							    <select id="cfReason" name="txtcfReason" asp-for="ReasonReachingId" asp-items="@(new SelectList(ViewBag.ListOfReasonReaching,"ReasonReachingId", "ReasonReachingContent"))">
                                    <option value="0">Select..</option>
                                </select>
                                <span asp-validation-for="ReasonReachingId" class="text-danger"></span>  
                            </div>
                        </div>
                        <div class="col-lg-12 mb-20">
                            <div class="c-icon">
                                <label  asp-for="MessageContent">How can we help you?</label>																																					
							    <textarea  asp-for="MessageContent" id="cfMessage" cols="30" rows="5" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-20">
                            <div class="contact-butoon text-center">
                                <button class="btn btn-green" id="btnContactSubmit" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                    <p class="form-message"></p>
                </form>
            </div>
        </div>
    </div>    
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>