@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="career" class="about-area pt-120 pb-80">
    <div class="container" >
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text mb-40">
                    <div class="section-title mb-25">
                        <p><span></span> Our value</p>
                        <h1>Why would you love working at LibraSoft?</h1>
                    </div>
                    <p>Because we don't just follow trends, we create them.</p>
                    <p>Because together we turn ideas into reality, working every day to make tomorrow's world a better place.</p>
                    <div class="about-btn mt-30">
                        <a class="btn btn-green smoth-scroll" href="#joinourteam">Join our team</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-thumb mb-40">
                    <img src="~/img/bg/career.jpg" alt="">
                    <div class="bakix-video">
                        <div class="inner-video">
                            <img src="~/img/bg/video.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="joinourteam" class="faq-area black-bg">
    <div class="qus-img bounce-animate" style="margin-top:50px"><img src="~/img/bg/qus.png" alt=""></div>
    <div class="container faq-box">
        <div class="row">
            <div class="col-xl-6 offset-xl-3">
                <div class="section-title white-text text-center mb-100">
                    <p>welcome</p>
                    <h1>Join Our Team</h1>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-6">
                <div>
                    <div class="section-title mb-25">
                        <p>.Net Developer</p>
                        <h1 style="color:white">We Provide Innovative
                        Solution For You.</h1>
                    </div>
                    <div id="accordion" class="mt-40">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Job description
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>- Design and develop .Net applications, from concept to implementation.</p>                                   
                                    <br/><p>- Working with customers to grasp, understand the business context, develop communication skills</p>
                                    <br/><p>- Participate in collecting, analyzing, proposing technical solutions, solving complex problems of web applications with friends and colleagues</p>
                                    <br/><p>- Develop and maintain the application and contribute to the implementation of features and solutions</p>
                                    <br/><p>- Check and review the application</p>
                                    <br/><p>- Design and optimize tables and queries for MS SQL Server.</p>
                                    <br/><p>- Estimate and prepare a timeline for development/improvement</p>
                                    <br/><p>- Technical support / mentoring for team members</p>
                                    <br/><p>- Logical thinking skills, problem solving, good analysis, ready to work</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Benefits and career opportunities
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>- Work at one of the best workplaces in Vietnam</p>
                                    <br/><p>- Join a dynamic and fast-growing global company</p>
                                    <br/><p>- 13th month salary bonus + attractive performance bonus (you'll love it!) + Performance review and allowance</p>
                                    <br/><p>- Flexible working time, comfortable and convenient working environment</p>
                                    <br/><p>- Get diversified training in trending technologies/foreign languages ​​and soft skills</p>
                                    <br/><p>- Participate in many team building activities, company trips, year-end parties, talk about technology</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Your skills and experience
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>- At least 1 year of experience as a developer using the latest Microsoft Stack: C#, ASP.NET Core, Entity Framework Core & SQL Server, Web API, MVC</p>
                                    <br/><p>- Experience in building web applications using ASP .NET Web MVC</p>
                                    <br/><p>- High performance app optimization experience</p>
                                    <br/><p>- Can work on both back end and front end (preferably VueJs, Nodejs, Angularjs)</p>
                                    <br/><p>- Experience with source control systems such as GIT</p>
                                    <br/><p>- Analytical, communication and teamwork skills</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="contact-wrapper" style="padding:35px">
                    <form action="mail.php" id="contact-form" method="POST">
                        <div class="row">
                            <div class="col-lg-12 mb-45">
                                <div class="contact-name c-icon">
                                    <label for="name">Enter your name</label>
                                    <input id="name" name="name" placeholder="Your name :" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 mb-45">
                                <div class="contact-email c-icon">
                                    <label for="email">Enter your email</label>
                                    <input id="email" name="email" placeholder="info@gmail.com :" type="email">
                                </div>
                            </div>
                            <div class="col-lg-12 mb-45">
                                <div class="contact-phone c-icon">
                                    <label for="phone">Enter your phone</label>
                                    <input id="phone" name="phone" placeholder="your phone number :" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 mb-45">
                                <div>
                                    <label class="form-label" for="cvFile">CV</label>
                                    <input type="file" class="form-control text-center" id="cvFile" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="contact-butoon text-center">
                                    <button class="btn btn-green" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                        <p class="form-message"></p>
                    </form>
                </div>
            </div>        
        </div>
    </div>
</section>

<!-- map-area start -->
<section  class="map-area pb-80">
    @*<div id="contact-map" class="contact-map"></div> *@ 
    <div class="container">
        <div class="row contact-info">
            <div class="col-lg-4">
                <div class="contact-list text-center mb-40">
                    <i class="pe-7s-global"></i>
                    <h3>Our Address</h3>
                    <p class="text-truncate">Block 18, 2nd Floor, Newton Residence Building</p>
                    <p class="text-truncate">38 Truong Quoc Dung Str., Ward 8, Phu Nhuan Dist</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-list text-center mb-40">
                    <i class="pe-7s-global"></i>
                    <h3>Phone & Email</h3>
                    <p>(+84) 028.73006696</p>
                    <p>info@librasoft.vn</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-list text-center mb-40">
                    <i class="pe-7s-global"></i>
                    <h3>Time</h3>
                    <p>Monday – Friday</p>
                    <p>9:00 AM - 6:00 PM</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- map-area end -->
