@{
}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md client-logo mb-4 mb-lg-0">
                <img src="~/images/client-logo/1.png" alt="" class="img-fluid mx-auto d-block p-4">
            </div>
            <div class="col-md client-logo mb-4 mb-lg-0">
                <img src="~/images/client-logo/2.png" alt="" class="img-fluid mx-auto d-block p-4">
            </div>
            <div class="col-md client-logo mb-4 mb-lg-0">
                <img src="~/images/client-logo/3.png" alt="" class="img-fluid mx-auto d-block p-4">
            </div>
            <div class="col-md client-logo mb-4 mb-lg-0">
                <img src="~/images/client-logo/4.png" alt="" class="img-fluid mx-auto d-block p-4">
            </div>
            <div class="col-md client-logo mb-4 mb-lg-0">
                <img src="~/images/client-logo/5.png" alt="" class="img-fluid mx-auto d-block p-4">
            </div>
        </div>
    </div>
</section>