@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="section" id="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h4 class="text-uppercase mb-0">Select Your Plan</h4>
                    <div class="my-3">
                        <img src="~/images/title-border.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <p class="text-muted f-14">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="pricing-box rounded text-center position-relative px-4 py-5 mb-4">
                    <img src="~/images/pricing/img-1.png" alt="" class="img-fluid mx-auto d-block">
                    <h3 class="pricing-title title text-uppercase mt-5 mb-4">Basic</h3>
                    <div class="text-muted py-3">
                        <p class="">Bandwidth: <b class="highlight">1GB</b></p>
                        <p class="">Support: <b class="highlight">No</b></p>
                        <p class=""><b>No</b> Hidden Fees</p>
                    </div>
                    <p class="text-muted f-15 mb-4">All Extension Included <span class="d-block f-18"><b>$12.90/Year</b></span></p>
                    <a href="" class="btn btn-outline-primary">Buy Now <span class="ml-2 right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box rounded text-center position-relative active px-4 py-5 mb-4">
                    <div class="ribbon">
                        <p class="mb-0 text-white f-13">-25%</p>
                    </div>
                    <img src="~/images/pricing/img-2.png" alt="" class="img-fluid mx-auto d-block">
                    <h3 class="pricing-title title text-uppercase mt-5 mb-4">Standard</h3>
                    <div class="text-muted py-3">
                        <p class="">Bandwidth: <b class="highlight">1.5GB</b></p>
                        <p class="">Support: <b class="highlight">Yes</b></p>
                        <p class=""><b>No</b> Hidden Fees</p>
                    </div>
                    <p class="text-muted f-15 mb-4">All Extension Included <span class="d-block f-18"><b>$49.99/Year</b></span></p>
                    <a href="" class="btn btn-primary">Buy Now <span class="ml-2 right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box rounded text-center position-relative px-4 py-5 mb-4">
                    <img src="~/images/pricing/img-3.png" alt="" class="img-fluid mx-auto d-block">
                    <h3 class="pricing-title title text-uppercase mt-5 mb-4">Premium</h3>
                    <div class="text-muted py-3">
                        <p class="">Bandwidth: <b class="highlight">2GB</b></p>
                        <p class="">Support: <b class="highlight">No</b></p>
                        <p class=""><b>No</b> Hidden Fees</p>
                    </div>
                    <p class="text-muted f-15 mb-4">All Extension Included <span class="d-block f-18"><b>$89.99/Year</b></span></p>
                    <a href="" class="btn btn-outline-primary">Buy Now <span class="ml-2 right-icon">&#8594;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>