@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section" id="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h4 class="text-uppercase mb-0">Why choose us?</h4>
                    <div class="my-3">
                        <img src="~/images/title-border.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
@*            <div class="col-lg-4">
                <div class="pricing-box rounded text-center position-relative px-4 py-5 mb-4">
                    <img src="~/images/LibraSoftImg/save-time.png" alt="" class="img-fluid mx-auto d-block">
                    <h3 class="pricing-title title  mt-5 mb-3">Reduce Processing Time</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box rounded text-center position-relative px-4 py-5 mb-4">
                    <img src="~/images/LibraSoftImg/money-bag.png" alt="" class="img-fluid mx-auto d-block">
                    <h3 class="pricing-title title  mt-5 mb-3">Reduce Business Operating Costs</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box rounded text-center position-relative px-4 py-5 mb-4">
                    <img src="~/images/LibraSoftImg/hand-shake.png" alt="" class="img-fluid mx-auto d-block">
                    <h3 class="pricing-title title mt-5 mb-3">Increase Cusomer Sastisfaction</h3>
                </div>
            </div>*@
            @foreach(var item in Model)
            {
                <div class="col-lg-4">
                    <div class="pricing-box rounded text-center position-relative px-4 py-5 mb-4">
                    @Html.Raw(@item)
                    </div>
                </div>
            }
        </div>
    </div>
</section>