@{
ViewData["Title"] = "Home Page";
}

<main>
    <!-- slider-area strat -->
    <section id="slider" class="slider-area">
        <div class="slider-active">
            <div class="single-slider d-flex align-items-center" data-background="img/slider/Home1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="slider-content text-center">
                                <div>
                                   <span data-animation="fadeInUp" data-delay=".2s" style="padding-right:3px; padding-top: 3px; display:inline-block;">
                                       <img src="~/img/LibraSoftImg/logo_LibraSoft_2.png" height="80"/>
                                   </span>
                               </div>
                                <h4 data-animation="fadeInUp" data-delay=".4s">We help your business maximize competitive advantage and increase business productivity</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider d-flex align-items-center" data-background="img/slider/Home2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="slider-content text-center">
                                <span data-animation="fadeInUp" data-delay=".2s">Our solutions</span>
                                <h4 data-animation="fadeInUp" data-delay=".4s">Business Digital Transformation - End-To-End
                                    <br />Tailored Solutions
                                   <br />Robotic Process Automation
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider d-flex align-items-center" data-background="img/slider/Home3.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="slider-content text-center">
                                <span data-animation="fadeInUp" data-delay=".2s">Our solutions</span>
                                <h4 data-animation="fadeInUp" data-delay=".4s">Automate Document Processing - Intelligent Data
                                    <br/>Extraction
                                    <br/>Intelligent Document Management
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider d-flex align-items-center" data-background="img/slider/Home4.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="slider-content text-center">
                                <span data-animation="fadeInUp" data-delay=".2s">Our solutions</span>
                                <h4 data-animation="fadeInUp" data-delay=".4s">AI-Powered Object Identification
                                    <br/>Self Service Kioska
                                    <br/>Intelligent Visitor Management
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider-area end -->


    <section id="about" class="about-area pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-thumb mb-40">
                        <img src="~/img/bg/About1.jpg" alt="">
                        @*<div class="bakix-video">
                            <div class="inner-video">
                                <img src="~/img/bg/video.jpg" alt="">
                                <a class="popup-video" href="https://www.youtube.com/watch?v=Y6MlVop80y0"><i class="fas fa-play"></i></a>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text mb-40">
                        <div class="section-title mb-25">
                            <p><span></span> About us</p>
                        </div>
                        <div class="servces-icon2">
                            <h3>Who we are <span><i class="pe-7s-smile"></i></span></h3>
                        </div>
                        <p>Founded in 2019, LibraSoft is a leading, highly innovative software house, systems integrator and technology provider, established to provide leading edge intelligent technical solutions and consulting services to businesses, organizations and government
                        in order to allow the efficient and effective secure access and communication with various heterogeneous information resources and services, anytime and anywhere.</p>
                        <p>We are flat, quick, and efficient. We combine the industry knowledge with technology competence to deliver the highend quality solutions in a cost effective manner to maximize your competitive advantage and increase your business productivity.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text mb-40">
                        <div class="servces-icon2">
                            <h3>Our Culture <span><i class="pe-7s-leaf"></i></span></h3>
                        </div>
                        <p>Librasoft provides a challenging environment that encourages initiative and promotes commitment to its clients’ business objectives.</p>
                        <div class="servces-icon2">
                            <h3>Vision <span><i class="pe-7s-look"></i></span></h3>
                        </div>
                        <p>Enabling enterprises to leverage technology for business growth and success</p>
                        <div class="servces-icon2">
                            <h3>Missison <span><i class="pe-7s-paper-plane"></i></span></h3>
                        </div>
                        <p>We help businesses elevate their value through custom software development, high end quality solutions with the right blend of technology, domain knowledge and effective methodology.</p>                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-thumb mb-40">
                        <img src="~/img/bg/About2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-thumb mb-40">
                        <img src="~/img/bg/About3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text mb-40">
                        <div class="servces-icon2">
                            <h3>Value <span><i class="pe-7s-diamond"></i></span></h3>
                        </div>
                        <p>+ Humble: We constantly look to improve and never forget the importance of our customers and colleagues.</p>
                        <p>+ Customer Focused: We exceed expectations through great discipline and ensure a world class customer experience.</p>
                        <p>+ Discipline: In everything we do. We accept responsibility and deliver on all of our commitments.</p>
                        <p>+ Innovation: We continue to accelerate growth through active innovation, utilize the powers of different technologies and integrate them seamlessly.</p>
                        <div class="about-btn mt-30">
                            <a class="btn btn-green smoth-scroll" href="#service">business we serve</a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- services-area-start -->
    <section id="service" class="services-area pt-115 pb-90 black-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8  offset-md-2 offset-lg-3">
                    <div class="section-title white-text text-center mb-70">
                        <h1>Our Services</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="services-wrapper mb-30">
                        <div class="servces-icon">
                            <img src="~/img/LibraSoftImg/life-insurance.png" />
                        </div>
                        <div class="services-text">
                            <h2>Digital Transformation</h2>
                            <p>Transform any image, scaned document, or printed PDF to editable documents in seconds using Optical Character Recognition (OCR) featuer. The function of OCR is to help digitize documents in a timely manner and fashion.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="services-wrapper mb-30">
                        <div class="servces-icon">
                            <img src="~/img/LibraSoftImg/hand.png" />
                        </div>
                        <div class="services-text">
                            <h2>Financial Services</h2>
                            <p>Our AI for financial services fosters extraordinary customer relationships through transformative technologies that save time, heighten security, and personalize service, delivering optimal share of wallet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="services-wrapper mb-30">
                        <div class="servces-icon">
                            <img src="~/img/LibraSoftImg/mortarboard.png" />
                        </div>
                        <div class="services-text">
                            <h2>Education</h2>
                            <p>Traditional learning environments are becoming a thing of the past. fully integrated software applications are used to raise the quality of education and administration in schools, colleges and universities.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="services-wrapper mb-30">
                        <div class="servces-icon">
                            <img src="~/img/LibraSoftImg/life-insurance.png" />
                        </div>
                        <div class="services-text">
                            <h2>Insurance</h2>
                            <p>Predict consumer needs by utilizing data and actionable analytics, optimize the customer experience, retain valuable policyholders, and identify new sales opportunities using applications built on our mobile platform.</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-wrapper mb-30" >
                        <div class="servces-icon">
                            <i class="pe-7s-help2"></i>
                        </div>
                        <div class="services-text">
                            <h2>Interior Design</h2>
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore..</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-wrapper mb-30">
                        <div class="servces-icon">
                            <i class="pe-7s-expand1"></i>
                        </div>
                        <div class="services-text">
                            <h2>24/7 Support</h2>
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.. </p>
                        </div>
                    </div>
                </div>*@
            </div>

        </div>
    </section>
    <!-- services-area-end -->

    @*<!-- portfolio-area-start -->
    <section id="portfolio" class="portfolio-area pb-90 pt-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="section-title text-center mb-70">
                        <p>portfolio</p>
                        <h1>Creative Work</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="portfolio-menu mb-30 text-center">
                        <button class="active" data-filter="*">all work</button>
                        <button data-filter=".cat1">website</button>
                        <button data-filter=".cat2">branding</button>
                        <button data-filter=".cat3"> creative</button>
                        <button data-filter=".cat4">interior</button>
                    </div>
                </div>
            </div>
            <div class="row grid">
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat4">
                    <div class="portfolio-wrapper mb-30" data-tilt data-tilt-perspective="3000">
                        <div class="portfolio-img">
                            <img src="~/img/work/img1.jpg" alt="">
                            <div class="portfolio-text">
                                <span>Branding</span>
                                <h3><a href="#">Web Design</a></h3>
                                <div class="portfolio-icon">
                                    <a class="popup-image" href="~/img/work/img1.jpg"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat5 cat2">
                    <div class="portfolio-wrapper mb-30" data-tilt data-tilt-perspective="3000">
                        <div class="portfolio-img">
                            <img src="~/img/work/img2.jpg" alt="">
                            <div class="portfolio-text">
                                <span>Branding</span>
                                <h3><a href="#">Graphics Design</a></h3>
                                <div class="portfolio-icon">
                                    <a class="popup-image" href="~/img/work/img2.jpg"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat4">
                    <div class="portfolio-wrapper mb-30" data-tilt data-tilt-perspective="3000">
                        <div class="portfolio-img">
                            <img src="~/img/work/img3.jpg" alt="">
                            <div class="portfolio-text">
                                <span>Branding</span>
                                <h3><a href="#">Logo Design</a></h3>
                                <div class="portfolio-icon">
                                    <a class="popup-image" href="~/img/work/img3.jpg"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat5">
                    <div class="portfolio-wrapper mb-30" data-tilt data-tilt-perspective="3000">
                        <div class="portfolio-img">
                            <img src="~/img/work/img4.jpg" alt="">
                            <div class="portfolio-text">
                                <span>Branding</span>
                                <h3><a href="#">Business Plan</a></h3>
                                <div class="portfolio-icon">
                                    <a class="popup-image" href="~/img/work/img4.jpg"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat2">
                    <div class="portfolio-wrapper mb-30" data-tilt data-tilt-perspective="3000">
                        <div class="portfolio-img">
                            <img src="~/img/work/img5.jpg" alt="">
                            <div class="portfolio-text">
                                <span>Branding</span>
                                <h3><a href="#">Current Offer</a></h3>
                                <div class="portfolio-icon">
                                    <a class="popup-image" href="~/img/work/img5.jpg"><i class="fas fa-search"></i></a>
                                    <a href="#"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portfolio-area-start -->*@
    
    <!-- work-process-area -->
    <section id="work" class="work-process-area grey-bg pt-120 pb-90" data-background="img/bg/line.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="section-title text-center mb-70">
                        <p>how it work</p>
                        <h1>Why Choose Us?</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single__process text-center mb-30">
                        <div class="single__process-icon mb-40">
                            <span class="pe-7s-cash"></span>
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="single__process-content">
                            <div class="number">01</div>
                            <h4>Reduce Business Operating Costs</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single__process text-center mb-30">
                        <div class="single__process-icon mb-40">
                            <span class="pe-7s-like2"></span>
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="single__process-content">
                            <div class="number">02</div>
                            <h4>Increase Cusomer Sastisfaction</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single__process text-center mb-30">
                        <div class="single__process-icon mb-40">
                            <span class="pe-7s-clock"></span>
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="single__process-content">
                            <div class="number">03</div>
                            <h4>Reduce Processing Time</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- work-process-area-end -->


    <!-- fact-area start -->
    <section class="fact-area pt-150 pb-110" data-background="img/bg/Fact1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="fact text-center mb-40">
                        <h3>5</h3>
                        <span>Years of experiences</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="fact text-center mb-40">
                        <h3>30+</h3>
                        <span>Active Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="fact text-center mb-40">
                        <h3>50+</h3>
                        <span>Successful Projects</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fact-area end -->

    @*<section id="faq" class="faq-area">
        <div class="qus-img bounce-animate"><img src="~/img/bg/qus.png" alt=""></div>
        <div class="row no-gutters">
            <div class="col-xl-6">
                <div class="faq-img" data-background="img/bg/faq.jpg"></div>
            </div>
            <div class="col-xl-6">
                <div class="faq-box">
                    <div class="section-title mb-25">
                        <p>we are the best</p>
                        <h1>We Provide Innovative
                        Solution For You.</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua it enim ad minim veniam amed for you.</p>
                    <div id="accordion" class="mt-40">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore?
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <!-- team-area start -->
    <section id="team" class="team-area grey-bg pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="section-title text-center mb-70">
                        <p>our team</p>
                        <h1>Creative Team</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-30">
                        <div class="team-thumb">
                            <img src="~/img/team/team1.jpg" alt="">
                        </div>
                        <div class="team-content white-bg">
                            <div class="team-title">
                                <h3>Huy Nguyen</h3>
                                <span>Co - Founder</span>
                            </div>
                            <div class="team-about-icon">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-30">
                        <div class="team-thumb">
                            <img src="~/img/team/team2.jpg" alt="">
                        </div>
                        <div class="team-content white-bg">
                            <div class="team-title">
                                <h3>Mui Dang</h3>
                                <span>CEO</span>
                            </div>
                            <div class="team-about-icon">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="team-box text-center mb-30">
                        <div class="team-thumb">
                            <img src="~/img/team/team3.jpg" alt="">
                        </div>
                        <div class="team-content white-bg">
                            <div class="team-title">
                                <h3>Nam Nguyen</h3>
                                <span>Co - Founder</span>
                            </div>
                            <div class="team-about-icon">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-area end -->

    <!-- partner start -->  
    <section id="partner" class="services-area pt-115 pb-90 black-bg">
        <div class="container-fluid py-2">
            <div class="col-xl-6 offset-xl-3">
                <div class="section-title white-text text-center mb-100">
                    <p>companion</p>
                    <h1>Our Partners</h1>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-auto">
                    <a class="h1" href="#partnerCarousel" role="button" data-slide="prev">
                        <span>&lt;</span>
                    </a>
                </div>
                <div class="col">
                    <div id="partnerCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <a href="https://www.axxonsoft.com/" target="_blank">
                                            <img class="d-block img-fluid" src="~/img/brand/AxxonSoft.png" alt="1rd slide">
                                        </a>
                                    </div>
                                    <div class="col-md-8" style="height:400px">
                                        <div class="services-text">
                                            <h2>About AxxonSoft</h2>
                                            <p>
                                                Founded in 2003, AxxonSoft is a leading developer of smart integrated security and video surveillance systems (VMS and PSIM). The company's portfolio for the Safety & Security market boasts over 150,000 projects with 2.5 million cameras installed.<br/>
                                                AxxonSoft has more than 5,800 certified partners in 100+ countries, which perform over 1,500 installations every month. With 40 offices around the world, the company provides its partners with fast response times and exceptional support in every corner of the globe.<br/>
                                                The AxxonSoft VMS and PSIM platforms power more than 240 Safe City municipal surveillance projects and security systems at retailers, banks, international airports, seaports, industrial sites, and numerous government and business facilities around the world."
                                            </p>
                                            <div class="about-btn mt-30">
                                                <a class="btn btn-green" href="https://www.axxonsoft.com/" target="_blank">learn more</a>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <a href="https://www.scandit.com/" target="_blank">
                                            <img class="d-block img-fluid" src="~/img/brand/scandit-vector-logo.png" alt="2rd slide">
                                        </a>
                                    </div>
                                    <div class="col-md-8" style="height:400px">
                                        <div class="services-text">
                                            <h2>About Scandit</h2>
                                            <p>
                                                Three researchers from MIT, ETH Zurich and IBM Research founded Scandit in 2009 and remain in the business today. We quickly evolved into a software business that puts a powerful smart device scanning solution in the hands of workers and customers, enabling them to interact digitally with physical objects. <br/>
                                                <br/>
                                                Scandit is the leader in smart data capture with a team of global experts who partner with customers to integrate data capture into their workflows and provide actionable insights. Scandit is trusted for delivering top performance, business results and enterprise-level success. Perpetually aiming to break new ground will continue to shape our Smart Data Capture platform.
                                            </p>
                                            <div class="about-btn mt-30">
                                                <a class="btn btn-green" href="https://www.scandit.com/" target="_blank">learn more</a>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <a class="h1" href="#partnerCarousel" role="button" data-slide="next">
                        <span>&gt;</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- partner end -->

    @*<section class="brand-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="section-title text-center mb-70">
                        <p></p>
                        <h1>Happy Clients</h1>
                    </div>
                </div>
            </div>
            <div class="brand-active owl-carousel">
                <div class="single-brand">
                    <a href="https://www.acb.com.vn/" target="_blank">
                        <img src="~/img/brand/acb.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://aizenglobal.com/creditconnect/" target="_blank">
                        <img src="~/img/brand/creditconnect.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://dsg.com.vn/" target="_blank">
                        <img src="~/img/brand/DSG.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://generali.vn/" target="_blank">
                        <img src="~/img/brand/generali.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://drvn.gov.vn/" target="_blank">
                        <img src="~/img/brand/logo-tong-cuc-duong-bo-vietnam.png" alt="">           
                    </a>                   
                </div>
                <div class="single-brand">
                    <a href="https://marico.com/" target="_blank">
                        <img src="~/img/brand/marico.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://www.shinhanfinance.com.vn/?" target="_blank">
                        <img src="~/img/brand/Shinhan-Bank.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://www.sodexo.vn/" target="_blank">
                        <img src="~/img/brand/Sodexo_logo.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://thuenhanuoc.vn/" target="_blank">
                        <img src="~/img/brand/thuenhanuoc.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://thuenhanuoc.vn/" target="_blank">
                        <img src="~/img/brand/thuenhanuochn.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://tokiomarine.com.vn/" target="_blank">
                        <img src="~/img/brand/tokio.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://moj.gov.vn/" target="_blank">
                        <img src="~/img/brand/tuphap.png" alt="">
                    </a>
                </div>
                <div class="single-brand" style="width:170px; margin-right:30px">
                    <a href="https://vietteltelecom.vn/" target="_blank">
                        <img src="~/img/brand/viettel-logo.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://www.vietravel.com/" target="_blank">
                        <img src="~/img/brand/viettravel.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://www.vinamilk.com.vn/" target="_blank">
                        <img src="~/img/brand/vinamilk.png" alt="">
                    </a>
                </div>
                <div class="single-brand">
                    <a href="https://www.woolcockvietnam.org/" target="_blank">
                        <img src="~/img/brand/woolcock.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>*@
    <section  class="brand-area pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="section-title text-center mb-70">
                        <p>sponsors</p>
                        <h1>Happy Clients</h1>
                    </div>
                </div>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="single-brand partner-item">
                        <a href="https://www.acb.com.vn/" target="_blank">
                            <img src="~/img/brand/acb.png" alt="" style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://aizenglobal.com/creditconnect/" target="_blank">
                            <img src="~/img/brand/creditconnect.png" alt=""  style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://dsg.com.vn/" target="_blank">
                            <img src="~/img/brand/DSG.png" alt=""   style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://generali.vn/" target="_blank">
                            <img src="~/img/brand/generali.png" alt=""  style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://drvn.gov.vn/" target="_blank">
                            <img src="~/img/brand/logo-tong-cuc-duong-bo-vietnam.png" alt=""  style="width:80px;margin-right:30px;margin-left:30px">           
                        </a> 
                        <a href="https://marico.com/" target="_blank">
                            <img src="~/img/brand/marico.png" alt=""   style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://www.shinhanfinance.com.vn/?" target="_blank">
                            <img src="~/img/brand/Shinhan-Bank.png" alt=""   style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://www.sodexo.vn/" target="_blank">
                            <img src="~/img/brand/Sodexo_logo.png" alt=""   style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                    </div>                  
                </div>
                <div class="carousel-item">
                    <div class="single-brand partner-item">
                        <a href="https://thuenhanuoc.vn/" target="_blank">
                            <img src="~/img/brand/thuenhanuoc.png" alt="" style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://thuenhanuoc.vn/" target="_blank">
                            <img src="~/img/brand/thuenhanuochn.png" alt=""  style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://tokiomarine.com.vn/" target="_blank">
                            <img src="~/img/brand/tokio.png" alt=""  style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://moj.gov.vn/" target="_blank">
                            <img src="~/img/brand/tuphap.png" alt=""  style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://vietteltelecom.vn/" target="_blank">
                            <img src="~/img/brand/viettel-logo.png" alt=""  style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://www.vietravel.com/" target="_blank">
                            <img src="~/img/brand/viettravel.png" alt=""  style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://www.vinamilk.com.vn/" target="_blank">
                            <img src="~/img/brand/vinamilk.png" alt=""   style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                        <a href="https://www.woolcockvietnam.org/" target="_blank">
                            <img src="~/img/brand/woolcock.png" alt="" style="width:80px;margin-right:30px;margin-left:30px">
                        </a>
                    </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
    </section>

    @*<!-- news-area start -->
    <section id="blog" class="news-area pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="section-title text-center mb-70">
                        <p>news feeds</p>
                        <h1>News Updates</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-news mb-40">
                        <div class="news-thumb mb-25">
                            <a href="#"><img src="~/img/blog/home/b1.jpg" alt=""></a>
                        </div>
                        <div class="news-cat mb-20">
                            <a href="#">Marketing</a>
                            <a href="#">Stratigic Plan</a>
                        </div>
                        <h3 class="news-title mb-20"><a href="#">Consectetur adipisicing elit, sed
                        do eiusmod tempor.</a></h3>
                        <div class="news-meta">
                            <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                            <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-news mb-40">
                        <div class="news-thumb mb-25">
                            <a href="#"><img src="~/img/blog/home/b2.jpg" alt=""></a>
                        </div>
                        <div class="news-cat mb-20">
                            <a href="#">Marketing</a>
                            <a href="#">Stratigic Plan</a>
                        </div>
                        <h3 class="news-title mb-20"><a href="#">Consectetur adipisicing elit, sed
                        do eiusmod tempor.</a></h3>
                        <div class="news-meta">
                            <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                            <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-news mb-40">
                        <div class="news-thumb mb-25">
                            <a href="#"><img src="~/img/blog/home/b3.jpg" alt=""></a>
                        </div>
                        <div class="news-cat mb-20">
                            <a href="#">Marketing</a>
                            <a href="#">Stratigic Plan</a>
                        </div>
                        <h3 class="news-title mb-20"><a href="#">Consectetur adipisicing elit, sed
                        do eiusmod tempor.</a></h3>
                        <div class="news-meta">
                            <span><i class="far fa-calendar-check"></i> September 15, 2018 </span>
                            <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news-area end -->*@

    <!-- contact-area start -->
    <section id="contact" class="contact-area black-bg pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="section-title white-text text-center mb-100">
                        <p>get in touch</p>
                        <h1>Get Your Updates</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-wrapper">
                        <form action="mail.php" id="contact-form" method="POST">
                            <div class="row">
                                <div class="col-lg-6 mb-20">
                                    <div class=" c-icon">
                                        <label for="firstname">Enter your first name</label>
                                        <input id="firstname" name="name" placeholder="Your first name :" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class=" c-icon">
                                        <label for="lastname">Enter your last name</label>
                                        <input id="lastname" name="name" placeholder="Your last name :" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class=" c-icon">
                                        <label for="email">Enter your email</label>
                                        <input id="email" name="email" placeholder="info@webmail.com :" type="email">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class=" c-icon">
                                        <label for="phone">Enter your phone</label>
                                        <input id="phone" name="phone" placeholder="your phone number :" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class="c-icon">
                                        <label for="company">Company</label>
                                        <input id="company" name="phone" placeholder="Your company :" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class="c-icon">
                                        <label for="job">Job Title</label>
                                        <input id="job" name="job" placeholder="Job Title :" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class="c-icon">
                                        <label for="industry">Industry</label>
                                            <select>
                                                <option value="">Select...</option>
                                                <option value="0">Field Services</option>
                                                <option value="1">Healthcare</option>
                                                <option value="2">Manufacturing</option>
                                                <option value="3">Media & Entertainment</option>
                                                <option value="4">Retail</option>
                                                <option value="8">Technology</option>
                                                <option value="9">Transport & Logistics</option>
                                                <option value="10">Other</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class="c-icon">
                                        <label for="country">Country</label>
                                          <select>
                                            <option value="">Select...</option>
                                            <option value="">Province</option>
                                            <option value="1">An Giang</option>
                                            <option value="2">Ba Ria - Vung Tau</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-20">
                                    <div class="c-icon">
                                        <label for="reason">Reason for reaching out:</label>
                                          <select>
                                            <option value="">Select...</option>
                                            <option value="Sales">Interested in learning more&nbsp;about your products</option>
                                            <option value="Job">Interested in a career&nbsp;opportunity</option>
                                            <option value="Partnership">Interested in Scandit's Partner Program</option>
                                            <option value="Other">Other questions and inquiries</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-20">
                                    <div class="c-icon">
                                        <label for="message">How can we help you?</label>
                                        <textarea id="message" name="message" cols="30" rows="10" placeholder="your message :"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-butoon text-center">
                                        <button class="btn btn-green" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <p class="form-message"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-area end -->

    <!-- map-area start -->
    <section  class="map-area pb-80">
        @*<div id="contact-map" class="contact-map"></div> *@ 
        <div class="container">
            <div class="row contact-info">
                <div class="col-lg-4">
                    <div class="contact-list text-center mb-40">
                        <i class="pe-7s-global"></i>
                        <h3>Our Address</h3>
                        <p class="text-truncate">Block 18, 2nd Floor, Newton Residence Building</p>
                        <p class="text-truncate">38 Truong Quoc Dung Str., Ward 8, Phu Nhuan Dist</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-list text-center mb-40">
                        <i class="pe-7s-global"></i>
                        <h3>Phone & Email</h3>
                        <p>(+84) 028.73006696</p>
                        <p>info@librasoft.vn</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-list text-center mb-40">
                        <i class="pe-7s-global"></i>
                        <h3>Time</h3>
                        <p>Monday – Friday</p>
                        <p>9:00 AM - 6:00 PM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.1705551326704!2d106.6704988!3d10.7982459!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175298eeab8fdbf%3A0xed45e0c5aa186d0c!2sNewton%20Residence%20Apartment!5e0!3m2!1svi!2s!4v1655787440396!5m2!1svi!2s" width="1349" height="350" style="border:0;display: block;margin: 0 auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- map-area end -->
</main>
